<!DOCTYPE html>  
<html lang="en">  
<head>  
    <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
    <meta charset="UTF-8">  
    <title>Student Records</title>    
</head>  
<body>  
    <h1>Student Records</h1>
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Student ID</th>  
        <th>Student Name</th>  
        <th>Student Roll Number</th>  
        <th>Birth Date</th>
        <th>Joining Date</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for student  in dataset %}  
    <tr>  
        <td>{{ student.id }}</td>  
        <td>{{ student.student_name }}</td>  
        <td>{{ student.roll_number }}</td>  
        <td>{{ student.birth_date }}</td>
        <td>{{ student.joining_date }}</td>  
        <td>  
            <a href="/update/{{ student.id }}"><span class="glyphicon glyphicon-pencil" >Update</span></a>  
            <a href="/delete/{{ student.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<a href="/create" class="btn btn-primary">Add New Record</a>
</body>  
</html>  